h1 Learn more

h2 People
ul
    li
        a(href="http://meyerweb.com/", target="_blank") Eric Mayer
    li
        a(href="http://lea.verou.me/", target="_blank") Lea Veru
    li
        a(href="https://css-tricks.com/", target="_blank") Chris Coyier

h3 Conferences
ul
    li
        a(href="https://2016.front-trends.com/", target="_blank") Front Trednds
    li
        a(href="http://2015.cssconf.eu/", target="_blank") CSS Conf